/* You can add global styles to this file, and also import other style files */
.btn-spacing {
  margin-top: 1em;
  margin-left: 50%;
}

.greater {
  color: forestgreen;
}

.lesser {
  color: darkred;
}

.num-size {
  font-size: 2em;
  margin-top: 0%;
}

.bullet-none {
  list-style-type: none;
}
