<div class="text-center">
  @*<h1 class="display-4">Welcome</h1>*@
  <div>
    Current request IP is : @ViewBag.IP. <br />
    Current OS is :@ViewBag.OS.<br />
    Current Broswer is: @ViewBag.BROWSER.
  </div>
  <p>
    This element is created by css.
  </p>
  <div class="boxLarge blue">
    <div class="boxSmall yellow">
    </div>
  </div>
  <p style="margin-top: 1em;">
    This element is created by canvas and javascript.
  </p>
  <canvas id="myCanvas" style="width:165px; height:165px; margin-left: auto; margin-right: auto; border-style:none;"></canvas>
</div>
